html {
  padding: 10px;
  font-family: Verdana, sans-serif;
}

.login-buttons-dropdown-align-right {
  float:right;

}

.messages {
  height: 25%;
  width: 50%;
  border: 10px black solid;
  border-radius: 10px;
}
